nifi/flow-template.json
{
  "flowName": "sid-sales-stock-reporting",
  "version": "1.0.0",
  "description": "Blueprint NiFi pour ingestion ventes/stocks vers Data Warehouse SID",
  "parameterContext": {
    "SID_INPUT_DIR": "./nifi/in",
    "SID_ARCHIVE_DIR": "./nifi/archive",
    "DB_JDBC_URL": "jdbc:postgresql://localhost:5432/sid",
    "DB_USER": "sid_user",
    "DB_PASSWORD": "sid_pass"
  },
  "processors": [
    {
      "name": "ListFile_Ventes",
      "type": "org.apache.nifi.processors.standard.ListFile",
      "properties": {
        "Input Directory": "${SID_INPUT_DIR}/sales",
        "File Filter": ".*\\.csv"
      }
    },
    {
      "name": "FetchFile_Ventes",
      "type": "org.apache.nifi.processors.standard.FetchFile"
    },
    {
      "name": "ConvertRecord_Ventes",
      "type": "org.apache.nifi.processors.standard.ConvertRecord",
      "properties": {
        "Record Reader": "CSVReader",
        "Record Writer": "JsonRecordSetWriter"
      }
    },
    {
      "name": "UpdateRecord_Normalisation",
      "type": "org.apache.nifi.processors.standard.UpdateRecord",
      "properties": {
        "/loaded_at": "${now():format(\"yyyy-MM-dd HH:mm:ss\")}"
      }
    },
    {
      "name": "PutDatabaseRecord_Staging",
      "type": "org.apache.nifi.processors.standard.PutDatabaseRecord",
      "properties": {
        "JDBC Connection Pool": "SID_DB_POOL",
        "Table Name": "stg_sales_stock"
      }
    },
    {
      "name": "ExecuteSQLRecord_MergeDW",
      "type": "org.apache.nifi.processors.standard.ExecuteSQLRecord",
      "properties": {
        "SQL select query": "SELECT sid_dw.load_fact_sales_stock();"
      }
    },
    {
      "name": "PutFile_Archive",
      "type": "org.apache.nifi.processors.standard.PutFile",
      "properties": {
        "Directory": "${SID_ARCHIVE_DIR}"
      }
    }
  ],
  "connections": [
    "ListFile_Ventes -> FetchFile_Ventes",
    "FetchFile_Ventes -> ConvertRecord_Ventes",
    "ConvertRecord_Ventes -> UpdateRecord_Normalisation",
    "UpdateRecord_Normalisation -> PutDatabaseRecord_Staging",
    "PutDatabaseRecord_Staging -> ExecuteSQLRecord_MergeDW",
    "ExecuteSQLRecord_MergeDW -> PutFile_Archive"
  ]
}